body, a, div, ul, li, ol, p, dl, dd, iframe, textarea, h1, h2, h3, h4, h5, h6, form, img {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: 0;
  display: block; }

ul ol {
  list-style: none; }

.footer {
  width: 100%;
  margin-top: 58px;
  border-top: 1px solid #646464;
  text-align: center;
  font-size: 12px;
  color: #828282;
  clear: both; }
  .footer ul {
    display: table;
    margin: 0 auto; }
    .footer ul li {
      line-height: 58px;
      float: left; }
      .footer ul li a {
        padding: 0 29px;
        font-size: 12;
        color: #828282; }
  .footer p {
    clear: left; }
  .footer p:nth-child(1) {
    line-height: 40px; }
  .footer p:nth-of-type(2) {
    line-height: 30px; }
  .footer div {
    display: table;
    margin: 0 auto;
    margin-top: 40px; }
    .footer div a {
      margin: 0 25px;
      float: left; }

.header {
  width: 100%;
  height: 77px; }
  .header .imgs {
    float: left; }
  .header .say {
    float: right;
    padding-top: 30px;
    padding-right: 30px; }
    .header .say img {
      display: inline-block;
      vertical-align: middle; }
    .header .say a {
      font-size: 12px;
      color: #787878; }

.content {
  width: 100%;
  border-bottom: 1px solid #f2f2f2; }
  .content .banner {
    float: left; }
  .content .face {
    float: right; }
    .content .face .warn {
      width: 360px;
      height: 24px;
      background: #fef7f5;
      border: 1px solid #fedbd1;
      border-top: none; }
      .content .face .warn a {
        float: left;
        line-height: 24px; }
        .content .face .warn a img {
          display: inline; }
      .content .face .warn p {
        float: left;
        font-size: 12px;
        color: #828282;
        line-height: 24px; }
        .content .face .warn p span {
          color: #8c79b3; }
    .content .face .login {
      border-top: 1px solid #eef2f4;
      border-right: 1px solid #eef2f4;
      border-bottom: 2px solid #eef2f4;
      border-left: 1px solid #fafafa;
      padding-left: 25px;
      color: #555555; }
      .content .face .login .safe span {
        float: left;
        margin-right: 74px;
        margin-top: 23px; }
      .content .face .login .safe img {
        float: left;
        margin-top: 8px; }
      .content .face .login .username, .content .face .login .userpass {
        clear: left;
        width: 310px;
        height: 35px;
        border: 1px solid #f7f7f7;
        border-radius: 6px;
        line-height: 35px;
        margin-bottom: 28px; }
        .content .face .login .username #spanId, .content .face .login .userpass #spanId {
          color: red;
          font-size: 12px; }
        .content .face .login .username img, .content .face .login .userpass img {
          display: inline-block;
          vertical-align: middle;
          margin-right: 12px; }
        .content .face .login .username input, .content .face .login .userpass input {
          outline: none;
          border: none; }
      .content .face .login p:nth-of-type(1) {
        font-size: 12px; }
        .content .face .login p:nth-of-type(1) span {
          float: right;
          color: #1a66b3;
          padding-right: 23px; }
          .content .face .login p:nth-of-type(1) span:hover {
            cursor: pointer;
            text-decoration: underline; }
      .content .face .login .ul1 li {
        width: 77px;
        height: 77px;
        float: left;
        text-align: center;
        position: relative; }
        .content .face .login .ul1 li img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto; }
      .content .face .login .p2 {
        clear: left;
        font-size: 12px;
        padding-top: 20px;
        margin-bottom: 10px; }
        .content .face .login .p2 a {
          color: #1a66b3;
          margin-left: 70px; }
      .content .face .login #inp01 {
        width: 310px;
        height: 44px;
        background: #ff2832;
        text-align: center;
        line-height: 44px;
        outline: none;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 18px;
        color: white; }
      .content .face .login .p3 {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 12px; }
        .content .face .login .p3 a {
          margin-left: 167px;
          color: #6e6e6e; }
      .content .face .login .ul2 {
        overflow: hidden; }
        .content .face .login .ul2 li {
          float: left;
          margin-left: 5px; }
        .content .face .login .ul2 li:last-child a {
          margin-left: 12px;
          font-size: 12px;
          color: #969696; }

/*# sourceMappingURL=login.css.map */
